<style>
* {
    padding: 0;
    margin: 0;
}
nav {
    background-color: blue;
    height: 50px;
}
nav ul {
     height: 50px;
     width: 450px;
     margin: 0 auto;
}
nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    text-align:center;
}
li a {
    text-decoration: none;
    color: yellow ;
    line-height: 50px;
    display: block;
}
li a:hover {
    background-color: pink;
    color: green;
}

.logo{
    float:left;
    margin:auto;
    padding:0;
    
}
.background{
    background-color: yellow;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: blue;
    color: yellow;
    position: fixed;
    bottom: 0%;
    width: 100%;
}



h1,h2,form,p{
    text-align: center;
    text-decoration: solid;

}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

    .cp{
        text-align:100px;
    }



   
 </style>
